:root{
    --black : #202020;
    --white : #f9feff;
}

@font-face{
    font-family: titleFont;
    src: url(acorn.woff);
}

@font-face{
    font-family: bodyFont;
    src: url(gt.woff);
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--black);

}

/* NAV */
    nav{
        position: fixed;
        display: flex;
        justify-content: space-around;
        height: 50px;
        width: 100%;
        align-items: center;
        margin-top: 30px;
        z-index: 100;
    }

    nav ul{
        display: flex;
        list-style: none;
        align-items: center;
        background-color: #202020d8;
        border-radius: 1.5rem;
        height: 3.5rem;
    }

    nav ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
    }

    nav ul li a{
        color: var(--white);
        text-decoration: none;
        font-family: bodyFont;
        font-size: 1.2rem;
    }

    .work{
        height: 2.3rem;
        border-radius: 1.5rem;
        background-color: #f9feff32;
        transition: all .2s ease-in-out;
        display: flex;
        align-items: center;
    }

    .slash{
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: var(--white);
        box-shadow: inset 0 0 0 2px hsla(310, 52%, 71%, 0.528);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 6px;
        margin-left: 10px;
    }

/* HOME PAGE */
    .homepage{
        padding-top: 7rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .container{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: -70px;
    }

    .name{
        background-image: linear-gradient(60deg, #ff6596, #60bef8, #d88cff);
        animation: fontAnimatedGradient 5s infinite alternate;
        background-size: 600% 600%;
        font-family: titleFont;
        font-size: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @keyframes fontAnimatedGradient{
        0%{
            background-position: 0 0;
        }
        100%{
            background-position: 100% 0;
        }
    }

    .star1{
        position: absolute;
        top: 25%;
        left: 90%;
    }

    .star2{
        position: absolute;
        top: 48%;
        left: 3%;
    }

    .subtitle{
        width: 65%;
        display: flex;
        justify-content: space-around;
    }

    .subtitle-detail{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .subtitle h2{
        font-family: bodyFont;
        font-size: 1.5rem;
        color: var(--white);
    }

    .subtitle p{
        font-family: bodyFont;
        font-size: 1rem;
        color: hsla(310, 52%, 71%, 0.876);
        margin-top: -5px;
    }

/* CONTENT */

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .overview{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        flex-direction: column;
    }

    .overview img{
        width: 80%;
    }

    .overview h1{
        margin-top: 180px;
        font-family: titleFont;
        font-size: 3rem;
        color: hsla(310, 52%, 71%, 0.876);;
    }

    .overview a{
        margin-top: 80px;
        font-family: titleFont;
        font-size: 3rem;
        color: hsla(310, 52%, 71%, 0.876);
    }

    .overview p{
        width: 50%;
        font-family: bodyFont;
        color: var(--white);
        font-size: clamp(1rem, .8852rem + .4898vw, 1.375rem);;
        line-height: 160%;;
    }

    .content iframe{
        width: 1120px;
        height: 630px;
        margin-top: 180px;
    }

    .next{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        border-color: rgba(245, 245, 245, 0.5);
        width: 600px;
        height: 150px;
        margin-top: 200px;
    }

    .next a{
        background-image: linear-gradient(60deg, #ff6596, #60bef8, #d88cff);
        animation: fontAnimatedGradient 5s infinite alternate;
        background-size: 600% 600%;
        font-family: titleFont;
        font-size: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .next:hover{
        border-width: 5px;
        border-style: solid;
    }

/* FOOTER */
    footer{
        margin-right: 100px;
        margin-top: 130px;
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer .spo{
        border-radius: 2rem;
        width: calc(200vh/3*2 - 18vh - 100px);
    }

    footer .contact{
        width: calc(200vh/3 + 5vh - 200px);
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    footer .contact h1{
        color: hsla(310, 52%, 71%, 0.876);
        font-family: titleFont;
        font-size: 1.5rem;
    }

    footer .contact a{
        color: #f9feffba;
        font-family: bodyFont;
        font-size: 1.1rem;
        text-decoration: none;
        margin: 10px 10px;
    }